*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    width: 100%;
    height: 80px;
    color: #1c1d1f;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%)
}
#udemy-image{
    width: 150px;
    height: 100px;
    margin-left: -10px;
}
.header p{
    margin-top: 40px;
    margin-right: 10px;
    margin-left: 10px;
    color: black;
    font-size: 19px;
    font-family: 'Courier New', Courier, monospace;

}
#header-p2{
    margin-left: 20px;
    font-size: 19px;
    width: 250px;
    font-family: 'Courier New', Courier, monospace;

}
.header input{
    width: 550px;
    height: 40px;
    border: 1px solid black;
    border-radius: 50px;
    margin-top: 30px;
    text-indent: 40px;
    background-color: #F6F7F9;
}
.fa-magnifying-glass{
    position: absolute;
    margin-left: 290px;
    margin-top: 42px;
    color: lightgrey;
}
.fa-cart-shopping{
    margin-top: 32px;
    margin-right: 40px;
    font-size: 30px;
}
.header-button{
    width: 100px;
    height: 40px;
    margin-top: 25px;
    margin-right: 10px;
    margin-left: 5px;
}
.btn-1{
    color: black;
    background-color: white;
    text-align: center;
    border: 1px solid black;
    cursor: pointer;
}
.btn-1:hover{
    color: white;
    background-color: black;
    border: 2px solid white;
}
.btn-2{
    cursor: pointer;
    color: white;
    background-color: black;
    border: 1px solid black;
    text-align: center;
}
.btn-2:hover{
    color: black;
    background-color: white;
    border: 2px solid black;
}
.second-part{
    background-color: #F8F9FB;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: max-content;
    
}
.second-part-1{
    display: flex;
    flex-direction: column;
    position: absolute;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
    padding: 2.4rem;
    margin-top: 50px;
    margin-left: 50px;
    background-color: white;   
}
.third-section{
    display: flex;
    flex-direction: column;
    background-color: white;
}
.third-sec-first-part{
    margin: 10px;
}
.third-sec-first-part h1{
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
    margin-left: 15px;
}
.third-sec-first-part p{
    color: #1c1d1f;
    font-size: 20px;
    font-weight: bold;
    margin-left: 15px;
    margin-top: 10px;

}
.third-sec-first-part ul{
    list-style: none;
    display: flex;
    margin-left: -10px;
}
.third-sec-first-part ul li{
    margin: 10px 20px;
    color: #6a6f73;
    font-size: 20px;
    font-weight: bolder;
}
.third-sec-first-part ul li:hover{
    color: #1C1D1F;
    cursor: pointer;
}
.third-sec-2nd-part
{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 95%;
    height: 500px;
    margin-left: 18px;
}
.third-sec-2nd-part-1{
    display: flex;
    flex-direction: column;
}
.third-sec-2nd-part-1 h2{
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
    margin: 10px 15px;
}
.third-sec-2nd-part-1 p{
    color: #1c1d1f;
    font-size: 15px;
    font-weight: 800;
    margin: 10px 15px;
}
#third-sec-button{
     color: black;
     background-color: white;
     border: 1px solid black;
     text-align: center;
     font-weight: 700;
     width: 100px;
     height: 30px;
     margin: 10px 15px;
}
.third-sec-2nd-part-2{
display: flex;
margin: 10px;
}
.third-sec-2nd-part-2-boxes{
   display: flex;
   flex-direction: column;
}
.third-sec-2nd-part-2-boxes h3{
    color:black;
    font-weight:bolder;
   margin-bottom: 10px;

}
.third-sec-2nd-part-2-boxes p{
    font-size: 15px;
   margin-bottom: 10px;
    font-weight: lighter
}
.third-sec-2nd-part-2-boxes h4,h5{
    color: black;
    margin-bottom: 5px;
    font-size: 20px;
}
.section-4{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F7F9FA;
    margin-top: 40px;
    width: 100%;
    height: 70px;
}
.section-4 h3{
    color: black;
    font-weight: bold;
}
.section-5{
    display: flex;
    flex-direction: column;
    margin: 10px 15px;
}
.section-5 h2{
    font-size: 30px;
    margin-bottom: 15px;
}
.sec-5-boxes{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}
.sec-5-part-1{
    width: 100px;
    height: 100px;
}
.sec-5-part-2{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 30px;
    margin-bottom: 30px;
}
.sec-5-part-2 h3{
    color: black;
    font-weight: bold;
    margin-bottom: 10px;
}
.sec-5-part-2 p{
    color:#1C1D1F;
    font-weight: lighter;
    font-size: 16px;
    margin-bottom: 10px;
}
#sec-5-p2{
    color: goldenrod;
}
.sec-5-part-2 h4{
    color: black;
    font-size: 18px;
}
#sec-5-button{
    width: 80px;
    height: 40px;
    color: black;
    text-align: center;
    background-color: #ECEB98;
    border: none;
}
.section-6{
    display: flex;
}
.sec-6-boxes{
    display: flex;
    flex-direction: column;
    margin: 15px;
}
.sec-6-boxes h2{
    margin-top: 10px;
}
.sec-6-boxes .box{
    background-color: #F8F9FB;
}
.box:hover{
    cursor: pointer;
    opacity: 0.5;
}

.section-7{
    display: flex;
    flex-direction: column;
    background-color: #F7F9FA;
}
.section-7 h1{
    font-weight: bolder;
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 10px;
}
.sec-7-ul-gF{
    display: flex;
    justify-content: space-around;

}
.sec-7-ul-parent{
    display: flex;
    flex-direction: column;
}
.ul-1 h2{
    color: black;
    font-weight: bold;
    margin-bottom: 16px;
}
.ul-1 ul{
    list-style: none;
    text-decoration: underline;
}
.ul-1 ul li{
    color: #401B9C;
    font-weight: bolder;
    font-size: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}
.ul-1 ul p{
    color:grey;
    font-size: 16px;
    margin-bottom: 20px;
}
.section-8{
    display: flex;
    justify-content: space-evenly;
}
.sec-8-box{
    display: flex;
    flex-direction: column;
    margin-top: 150px;
}
.sec-8-box h1{
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.sec-8-box p{
    color: #1C1D1F;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1px;
}
#sec-8-button{
    color: white;
    background-color: black;
    width: 180px;
    height: 50px;
    border: none;
    text-align: center;
    margin-top: 6px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}
#sec-8-button:hover{
    color: black;
    background-color: white;
    border-radius: 10px;
    border: 2px solid black;
}

.section-9{
    background-color: #F8F9FB;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
}
.section-9 h1{
    color:black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 30px;
}
.sec-9-companies{
    display: flex;
    justify-content: center;
}
.sec-9-companies img{
    margin-right: 20px;
}
.section-10{
    display: flex;
    justify-content: space-evenly;
}
.sec-10-box{
    display: flex;
    flex-direction: column;
    margin-top: 150px;
}

.sec-10-box p{
    color: #1C1D1F;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
     word-spacing: 2px;
}
.section-11{
    display: flex;
    justify-content: space-evenly;
}
.sec-11-box{
    display: flex;
    flex-direction: column;
    margin-top: 150px;
}
.sec-11-box h1{
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.sec-11-box p{
    color: #1C1D1F;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
     word-spacing: 2px;
}
.footer{
    background-color: #1C1D1F;
    width: 100%;
    height: 320px;
}
.footer-row-ul{
    display: flex;
    justify-content: flex-start;
    
    margin-left: 30px;
}
.ul-class{
    display: flex;
    flex-direction: column;
}
.ul-class ul{
    list-style: none;
    margin-right: 180px;
}
.ul-class ul li{
    color: white;
    font-size: 16px;
    margin-bottom: 6px;
    margin-top: 20px;
}
.ul-class ul li:hover{
    text-decoration: underline;
    color: white;
    cursor: pointer;
}
#footer-image{
    width: 100px;
    height: 100px;
    margin-top: 20px;
    margin-left: 30px;
}
.footer p{
    color: white;
    float: right;
    margin-right: 15px;
    margin-top: 40px;
    font-size: 15px;
}
#footer-button{
    width: 100px;
    height: 30px;
    color: white;
    background-color: #1c1d1f;
    position: absolute;
    border: 2px solid white;
    margin-left: 78%;
    margin-top: -10%;
}


